.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
     padding:  .5vw ;
     margin: .5vw;
}

.productDetails{
    display: flex;
    flex-direction: column;
}

.productImage>img{
    width: 100px;
    margin-right: 1vw;
}

.productCost{
    margin-left: 50px;
}

.productQuantity{
    position: absolute;
    right: 1vw;
}